@media (max-width: 1200px) {

}
@media (max-width: 992px) {

}
@media (max-width: 768px) {
    .navbar {
        margin-bottom: 0;
        padding: 15px;
    }
    .calendar-container {
        background-color: transparent;
        margin-top: 0;
        margin-bottom: 0;
    }
    .calendar-navigator {
        position: relative;
        float: left;
        width: 100%;
        top: 0;
        left: 0;
    }
    .calendar-navigator .month-name {
        margin-left: 10px;
    }
    .calendar-navigator .arrows {
        float: right;
        right: -20px;
        position: relative;
    }
    .calendar-day {
        height: 1.8rem;
        font-size: 0.95em;
        padding-left: 0;
    }
}